.categorySectionKidsWrapper {
  background-image: url(/public/img/kidssection.avif);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 20%;
  padding: 10px;
}
.categorySectionKidsWrapper h2 {
  font-weight: lighter;
  font-size: 35px;
  text-align: center;
}
.categorySectionKidsWrapper p {
  font-size: 15px;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .categorySectionKidsWrapper h2 {
    font-size: 38px;
  }
  .categorySectionKidsWrapper p {
    font-size: 20px;
  }
}
