.categorySectionKidsWrapper {
  background-image: url(/public/img/kidssection.avif);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categorySectionKidsWrapper h2 {
  font-size: 20px;
}
.categorySectionKidsWrapper p {
  font-size: 10px;
}
@media only screen and (min-width: 600px) {
  .categorySectionKidsWrapper h2 {
    font-size: 30px;
  }
  .categorySectionKidsWrapper p {
    font-size: 15px;
  }
}
