.categoryWrapper {
  height: 100vh;
}
.categorySectionOne {
  background-image: url(/public/img/mensection.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50%;
}
.categorySectionTwo {
  color: white;
  background-image: url(/public/img/womensecion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-top: 10px;
}
.categorySectionOne h2,
.categorySectionTwo h2 {
  font-size: 20px;
}
.categorySectionOne p,
.categorySectionTwo p {
  font-size: 10px;
}

@media only screen and (min-width: 600px) {
  .categoryWrapper {
    display: flex;
    height: auto;
  }
  .categorySectionTwo {
    height: 400px;
    margin-top: 0px;
    width: 50%;
  }
  .categorySectionOne {
    height: 400px;
    margin-right: 10px;
    width: 50%;
  }
  .categorySectionOne h2,
  .categorySectionTwo h2 {
    font-size: 30px;
  }
  .categorySectionOne p,
  .categorySectionTwo p {
    font-size: 15px;
  }
}
