.categoryWrapper {
  width: 100%;
  margin-top: 20px;
  padding: 0px 8px;
}
.categorySectionOne {
  height: 400px;
  background-image: url(/public/img/mensection.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.categorySectionOne h2,
.categorySectionTwo h2 {
  font-size: 40px;
}
.categorySectionOne p,
.categorySectionTwo p {
  font-size: 20px;
}

.categorySectionTwo {
  color: white;
  background-image: url(/public/img/womensecion.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

@media only screen and (min-width: 600px) {
  .categoryWrapper {
    padding: 0px 8px;
    margin-top: 40px;
    display: flex;
  }
  .categorySectionTwo {
    height: 400px;
    margin-top: 0px;
    width: 50%;
  }
  .categorySectionOne {
    height: 400px;
    margin-right: 10px;
    width: 50%;
  }
}
