.heroWrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.hero {
  width: 88%;
  background-color: rgb(173 187 173);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heroWrapper h1 {
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: lighter;
}
.heroWrapper p {
  font-size: 18px;
  text-align: center;
  color: white;
}
.heroWrapper :nth-child(2) {
  margin: 20px 0px;
}

@media only screen and (min-width: 600px) {
  .heroWrapper h1 {
    font-size: 40px;
  }
  .heroWrapper p {
    font-size: 25px;
  }
}
