.heroWrapper {
  height: 50vh;
  background-image: url(/public/img/herosection.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroWrapper h1 {
  text-align: center;
  color: white;
  font-size: 20px;
}
.heroWrapper p {
  font-size: 10px;
  color: white;
  text-align: center;
}
.heroWrapper :nth-child(2) {
  margin: 30px 0px;
}

@media only screen and (min-width: 600px) {
  .heroWrapper h1 {
    font-size: 40px;
  }
  .heroWrapper p {
    font-size: 25px;
  }
}
