.outletWrapper {
  background-image: url(/public/img/outletsection.avif);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0px;
  padding: 10px;
}
.outletWrapper h1 {
  font-size: 40px;
}
.outletWrapper p {
  font-size: 20px;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .outletWrapper h1 {
    font-size: 60px;
  }
  .outletWrapper p {
    font-size: 35px;
  }
}
