.card {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 250px;
}

.card:hover {
  transform: scale(1.01);
}
.cardImage {
  object-fit: contain;
  height: 60%;
  width: 100%;
}

.cardItem {
  font-weight: bold;
  font-size: 15px;
}

.cardDescription,
.priceWrapper p {
  font-size: 15px;
}

.cardIconContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.cardIcon {
  border: 1px solid black;
  display: flex;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.cardIcon:hover {
  transition: 0.5s;
  color: rgb(173 187 173);
  background-color: black;
}
.cardIconActive {
  border: 1px solid black;
  display: flex;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.484);
}

.discountIcon {
  width: 40px;
  height: 40px;
  background-color: rgb(173 187 173);
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  display: flex;
}

.card .itemValue {
  text-decoration: line-through;
  margin-right: 10px;
}
.card .cardPriceDiscount {
  color: red;
}

.cardIconWrapper {
  display: flex;
}
.cardIconWrapper :nth-child(2) {
  margin-left: 2px;
}
.priceWrapper {
  display: flex;
}
