.ratingCard {
  margin: 5px;
  background-color: rgb(173 187 173);
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid black;
}

.ratingTitle {
  font-size: 12px;
  font-weight: bold;
  margin: 4px 0px;
}
.ratingDescription,
.ratingCustomer,
.ratingTime {
  font-size: 12px;
  text-align: center;
}
.ratingCustomer {
  margin: 4px 0px;
}
