.createAccountPage h1 {
  text-align: center;
  margin: 30px 0px;
}
.createAccountPageFormWrapper {
  display: flex;
  justify-content: center;
}

.createAccountPageForm {
  width: 400px;
  padding: 17px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.createAccountPageForm button {
  width: 100%;
  color: white;
  padding: 15px;
  background-color: rgb(173 187 173);
  cursor: pointer;
}
