.addToCartPage h3 {
  text-align: center;
  margin: 25px 0px;
  font-size: 25px;
  color: rgb(0 24 0 / 78%);
}
.addToCartPage {
  color: rgb(0 24 0 / 78%);
}

.smallImage {
  width: 50%;
  height: 200px;
  object-fit: cover;
  padding: 8px;
}

.bigImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 8px;
}

.sectionInfo {
  width: 100%;
}

.plusMinusWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plusMinusBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.addToCartBtnWrapper {
  display: flex;
  justify-content: center;
}
.addToCartBtn {
  width: 60%;
  height: 40px;
  background-color: rgb(8 57 3 / 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
  font-size: 13px;
}
.addToCartBtn :nth-child(1) {
  margin-right: 5px;
}
.addToFav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8 57 3 / 30%);
}
.addToFav :nth-child(1) {
  margin-right: 5px;
}
.addToFav p {
  font-size: 13px;
}
.addToCartInfo {
  margin-top: 40px;
}
.sectionInfo h4 {
  margin: 15px 0px;
  font-weight: lighter;
}

@media only screen and (min-width: 800px) {
  .imageContainer {
    display: flex;
  }
  .smallImageWrapper {
    display: flex;
    flex-direction: column;
  }
  .smallImage {
    width: 100%;
    height: 200px;
  }
  .bigImage {
    height: 400px;
    width: 100%;
  }

  .addToCartBtn {
    margin: 15px 0px;
  }

  .addToCartPage h3 {
    margin: 10px 0px;
  }
}
@media only screen and (min-width: 1050px) {
  .smallImage {
    width: 100%;
    height: 230px;
  }
  .bigImage {
    height: 800px;
    width: 100%;
  }
  .addToCartPage {
    display: flex;
  }
  .sectionInfo {
    width: 30%;
  }
}
