.navlinksMobile {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(173 187 173);
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 1;
}
.navlinksMobile li {
  padding: 15px;
  margin-top: 40px;
  font-size: 20px;
}

.outletRedColor {
  color: red;
}
a {
  color: black;
}
