.navlinksMobile {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.navlinksMobile li {
  padding: 15px;
}
@media only screen and (min-width: 600px) {
}

/* .addToCartPage {
  padding: 10px;
}
.discountIcon {
  width: 80px;
  height: 80px;
  background-color: rgb(0 24 0 / 78%);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 20px;
}
.imageContainer {
  display: flex;
  flex-direction: column;
}
.smallImageWrapper {
  width: 100%;
  display: flex;
}
.bigImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.smallImage {
  object-fit: contain;
  width: 100%;
  cursor: pointer;
}

.bigImage {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  position: relative;
}
.sectionInfo {
  padding: 10px;
}
.addToCartBtn {
  width: 60%;
  height: 40px;
  background-color: rgb(8 57 3 / 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
  font-size: 13px;
  cursor: pointer;
}

.heartIconWrapper {
  display: flex;
}

.addToCartInfo h4 {
  font-size: 20px;
}

.sectionInfo h4 {
  margin: 15px 0px;
  font-weight: bold;
}
.sectionInfo .itemValue {
  text-decoration: line-through;
}
.cardPriceDiscount {
  color: red;
}
.heartIcon {
  border: 1px solid black;
  display: flex;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.heartIcon:hover {
  transition: 0.5s;
  background-color: rgba(0, 24, 0, 0.342);
}

@media only screen and (min-width: 800px) {
}
@media only screen and (min-width: 1050px) {
} */
