.navbarForm {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 15px;
  display: inline-flex;
}

.searchField {
  padding: 10px;
  background-color: black;
  height: 40px;
  color: rgb(173 187 173);
  outline: none;
}
.searchIcon {
  position: absolute;
  right: 10px;
  color: rgb(173 187 173);
}
