.formWrapper {
  align-items: center;
  width: 46%;
}
.navbarForm {
  height: 60px;
  display: flex;
  border-radius: 55px;
  align-items: center;
  position: relative;
}

.searchField {
  width: 100%;
  outline: none;
  padding: 10px;
  background-color: #f2f3f3;
  border: 1px solid black;

  height: 40px;
}
.searchIcon {
  position: absolute;
  right: 10px;
}
