.myShoppingCartCard {
  height: 190px;
  width: 100%;
  display: flex;
  background-color: #f2f3f3;
  margin-top: 10px;
  padding: 10px;
}

.myShoppingCartCardImg {
  height: 100%;
  object-fit: cover;
}
.myShoppingCartCardInfo {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.myShoppingCartCardInfo p {
  font-size: 15px;
  position: relative;
  display: flex;
}
.myShoppingCartCardInfo h3 {
  font-size: 15px;
}

.plusMinusWrapperMyShoppingCart {
  display: flex;
}
.plusMinusWrapperMyShoppingCart :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusMinusBtn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  cursor: pointer;
}
.plusMinusWrapperMyShoppingCart h2 {
  font-size: 16px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plusMinusWrapperMyShoppingCart p {
  margin: 0px 5px;
}
.myShoppingCartCardDeleteIcon {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 15px;
  cursor: pointer;
}
