.formWrapper {
  align-items: center;
  width: 76%;
}
.navbarForm {
  height: 60px;
  display: flex;
}

.searchField {
  width: 100%;
  outline: none;
  padding: 10px;
}
.searchIcon {
  position: absolute;
  right: 15px;
  top: 90px;
}
