.ratingCard {
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.137);
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0 24 0 / 78%);
}

.ratingTitle {
  font-size: 12px;
  font-weight: bold;
  margin: 4px 0px;
}
.ratingDescription,
.ratingCustomer,
.ratingTime {
  font-size: 12px;
  text-align: center;
}
.ratingCustomer {
  margin: 4px 0px;
}
