.containerWrapper {
  width: 400px;
  background-color: white;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  right: -500px;
  transition: 0.5s;
  overflow-y: scroll;
}
.active {
  width: 350px;
  max-width: 83%;
  background-color: white;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  right: 0px;
  transition: 0.5s;
  overflow-y: scroll;
}
.goToCheckoutBtn {
  background-color: rgb(173 187 173);
  height: 50px;
  width: 100%;
  margin-top: 50px;
  color: white;
  cursor: pointer;
}

.myShoppingCartHeader {
  background-color: #f2f3f3;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  justify-content: space-between;
}
.myShoppingCartHeader h2 {
  font-size: 12px;
  font-weight: lighter;
}
.closingIcon {
  cursor: pointer;
  font-size: 19px;
}
.myShoppingCartInfo {
  padding: 10px;
}
.noItemsDiv {
  margin: 100px 0px;
}
.noItemsDiv h4 {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.totalCountWrapper {
  margin-top: 10px;
  width: 100%;
}
.totalCountWrapper h2 {
  font-size: 17px;
  font-weight: lighter;
}
.totalCountWrapper h4 {
  font-size: 13px;
  color: red;
  font-weight: normal;
}
.shippingWrapper {
  display: flex;
  align-items: center;
}
