@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
}

/* nav start */
.nav {
  background-color: beige;
  height: 60px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.openCloseIcon {
  cursor: pointer;
  z-index: 1;
}
.burger-wrapper {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-left: 10px;
}
.navlinks-mobile {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
  width: 100%;
  text-align: center;
}
.navlinks-bigScreen {
  display: flex;
  align-items: center;
  display: none;
}

.navlinks-wrapper {
  display: flex;
  width: 100%;
}
li {
  list-style: none;
}
.navlinks-mobile li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

.nav-title {
  margin-left: 15px;
  display: flex;
  width: 33%;
  align-items: center;
}
.nav-icon-wrapper {
  display: flex;
  margin-right: 15px;
  align-items: center;
  flex: end;
}

.nav-icon {
  margin: 3px;
}
form {
  height: 40px;
  display: flex;
  margin: 8px;
  border: 1px solid black;
  justify-content: space-between;
}
.searchField {
  border: none;
  width: 100%;
  margin-left: 5px;
  outline: none;
}
.search-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

@media only screen and (min-width: 600px) {
  .navlinks-mobile {
    display: none;
  }

  .navlinks-bigScreen {
    display: flex;
  }

  .burger-wrapper {
    display: none;
  }
  .navlinks-list {
    display: flex;
  }
}

/* nav ends */

/* hero start */
.hero {
  width: 100%;
  height: 80vh;
  background-color: red;
  display: flex;
  align-items: end;
}
.hero h2,
.hero p,
button {
  margin: 15px;
}
.hero p {
  max-width: 200px;
}
/* hero ends */

/* slider starts */
.slider-card {
  height: 290px;
  border: 1px solid black;
  position: relative;
  margin: 5px;
}
.slider-image {
  object-fit: cover;
  width: 100%;
  height: 70%;
}
.slider-item {
  font-weight: bold;
  font-size: 15px;
}
.carousel-wrapper {
  display: flex;

  justify-content: center;
  width: 100%;
}
.carousel {
  width: 80%;
}

.slider-description,
.slider-price {
  margin-top: 13px;
  font-size: 13px;
}
.slider-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* slider ends */

/* ManWomanSections starts */
.menWomen-wrapper {
  width: 100%;
}
.men-section {
  height: 400px;
  background-color: green;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.women-section {
  background-color: blue;
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .menWomen-wrapper {
    display: flex;
    padding: 0px 8px;
  }
  .women-section {
    width: 50%;
    height: 400px;
  }
  .men-section {
    width: 50%;
    height: 400px;
    margin-right: 10px;
  }
}
/* ManWomanSections ends */

/* slider again starts */
/* slider again ends */

/* ManWomanSections again start but its kids /girls , boys */
/* ManWomanSections again ends */

/* slider again starts */
/* slider again ends */

/* outlet starts */
.outlet-wrapper {
  background-color: red;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
}

/* outlet end */
