@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
}

/* nav start */
.nav {
  background-color: beige;
  height: 60px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.openCloseIcon {
  cursor: pointer;
  z-index: 1;
}
.burger-wrapper {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-left: 10px;
}
.navlinks-mobile {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: beige;
  width: 100%;
  text-align: center;
}
.navlinks-bigScreen {
  display: none;
}

.navlinks-wrapper {
  display: flex;
  width: 100%;
}
.navlinks-list li {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.navlinks-mobile li {
  padding: 15px;
}

.nav-title {
  margin-left: 15px;
  display: flex;
  width: 33%;
  align-items: center;
}
.nav-icon-wrapper {
  display: flex;
  margin-right: 15px;
  align-items: center;
  flex: end;
}

.nav-icon {
  margin: 3px;
}
.icon-check {
  margin-right: 5px;
}
.nav-info .nav-info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin: 5px 15px;
}

form {
  height: 40px;
  display: flex;
  margin: 8px;
  border: 1px solid black;
  justify-content: space-between;
}
.searchField {
  border: none;
  width: 100%;
  margin-left: 5px;
  outline: none;
}
.search-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

@media only screen and (min-width: 600px) {
  .nav-info {
    height: 20px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navlinks-mobile {
    display: none;
  }

  .navlinks-bigScreen {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .burger-wrapper {
    display: none;
  }
  .navlinks-list {
    display: flex;
    width: 100%;
  }
  .navlinks-list li {
    margin: 0px 15px;
  }
}

/* nav ends */

/* hero start */
.hero {
  width: 100%;
  height: 90vh;
  background-image: url(/public/img/heroImage.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h1,
.hero p,
button {
  margin: 15px;
  font-weight: bold;
}
.hero p {
  max-width: 200px;
}
/* hero ends */

/* slider starts */
.slider-header {
  text-align: center;
}
.slider-header {
  margin: 20px 0px;
}
.carousel-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.carousel {
  width: 100%;
}
.slider-card {
  height: 290px;

  position: relative;
  margin: 5px;
}
.slider-image {
  object-fit: cover;
  width: 100%;
  height: 90%;
}
.slider-item {
  font-weight: bold;
  font-size: 10px;
}

.slider-description,
.slider-price {
  font-size: 9px;
}
.slider-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* slider ends */

/* ManWomanSections starts */
.menWomen-wrapper {
  width: 100%;
  margin-top: 50px;
}
.men-section {
  height: 400px;
  background-image: url(/public/img/men3.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.men-section h2,
.women-section h2 {
  font-size: 40px;
}
.men-section p,
.women-section p {
  font-size: 20px;
}

.women-section {
  color: white;
  background-image: url(/public/img/woman2.avif);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .menWomen-wrapper {
    display: flex;
    padding: 0px 8px;
  }
  .women-section {
    width: 50%;
    height: 400px;
  }
  .men-section {
    width: 50%;
    height: 400px;
    margin-right: 10px;
  }
}
/* ManWomanSections ends */

/* slider again starts */
/* slider again ends */

/* ManWomanSections again start but its kids /girls , boys */
/* ManWomanSections again ends */

/* slider again starts */
/* slider again ends */

/* outlet starts */
.outlet-wrapper {
  background-image: url(/public/img/outlet2.avif);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  background-position: center;
  object-fit: cover;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
}
.outlet-wrapper h1 {
  font-size: 40px;
}
.outlet-wrapper p {
  font-size: 20px;
}

/* outlet end */

/* rating carousel start */

.rating-card {
  background-color: blue;
  margin: 5px;
  height: 200px;
}
/* rating carousel end */

/* footer starts */
.footer {
  height: 190px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-payment-icons {
  text-align: center;
  font-size: 30px;
}
.footer p {
  text-align: center;
  margin: 15px 0px;
}
.footer-social-icons {
  display: flex;
  justify-content: center;
}
.footer-social-icons :nth-child(2) {
  margin-left: 15px;
  margin-right: 7.5px;
}
.footer-social-icons :nth-child(3) {
  margin-left: 7.5px;
  margin-right: 15px;
}
/* footer end */
