.checkoutPageWrapper {
  width: 100%;
  height: 190px;
  padding: 4px;
  background-color: #f2f3f3;
  border: 1px solid black;
  margin: 10px auto;
  display: flex;
  position: relative;
}
.checkoutPageImgWrapper {
  height: 100%;
  width: 150px;
}
.checkoutPageImgWrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.checkoutPageItemsWrapper h2 {
  font-size: 17px;
  margin: 6px 0px;
}
.checkoutPageItemsWrapper h3 {
  font-size: 12px;
}
.totalSection {
  display: flex;
  margin-top: 10px;
}

.totalSection .plusMinusBtn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(173 187 173);
  border: 1px solid black;
}
.plusMinusBtn:hover {
  background-color: rgba(173, 187, 173, 0.55);
}
.quantityArea {
  width: 28px;
  height: 28px;
  background-color: rgb(173 187 173);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discountIcon {
  width: 20px;
  height: 20px;
  background-color: rgb(173 187 173);
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 12px;
  align-items: center;
  font-size: 8px;
}

.checkoutPageWrapper .deleteIcon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.checkOutPageContainer {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkoutPriceContainer h2 {
  font-size: 20px;
  font-weight: lighter;
}

.purchaseBtn {
  margin-top: 20px;
  background-color: rgb(173 187 173);
  height: 50px;
  width: 200px;
  color: white;
  cursor: pointer;
}
.purchasedText {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 20px;
}

.shippingWrapper h4 {
  color: red;
  margin-left: 5px;
  font-weight: normal;
}
.priceWrapper .itemValue {
  text-decoration: line-through;
  margin-right: 10px;
}
.priceWrapper .cardPriceDiscount {
  color: red;
}
.priceWrapper {
  display: flex;
}
@media only screen and (min-width: 700px) {
  .checkoutPageWrapper {
    max-width: 700px;
  }
}
