.containerWrapper {
  width: 400px;
  background-color: white;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  right: -500px;
  transition: 0.5s;
}
.active {
  width: 350px;
  max-width: 83%;
  background-color: white;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  right: 0px;
  transition: 0.5s;
}

.mail {
  color: rgb(0 24 0 / 78%);
  position: relative;
}
.password {
  background-color: rgb(173 187 173);
  position: relative;
}
.formLoginWrapper input::placeholder {
  position: absolute;
  left: 50px;
}

.iconWrapper {
  background-color: rgb(173 187 173);
  width: 40px;
  height: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2px;
  top: 2px;
}

.formHeader {
  background-color: #f2f3f3;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}
.formClosingIcon {
  cursor: pointer;
  font-size: 19px;
}

.formLoginWrapper {
  padding: 10px;
}

.formHeader h2 {
  font-weight: lighter;
  font-size: 12px;
}

.formLoginInput {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  padding-left: 45px;
}
.rememberDataWrapper {
  display: block;
}
.rememberDataWrapper :nth-child(1) {
  padding: 10px 0px;
}

.rememberDataWrapper p {
  font-size: 10px;
}
.rememberMeWrapper {
  display: flex;
  align-items: center;
}
.rememberMeWrapper input {
  accent-color: black;
}
.rememberMeWrapper p {
  font-size: 10px;
  margin-left: 5px;
}

.formInputCheckbox {
  width: 10%;
  width: 15px;
}

.rememberDataWrapper :nth-child(1) {
  display: flex;
}
.signInPageBtn {
  background-color: rgb(173 187 173);
  height: 50px;
  width: 100%;
  margin-top: 50px;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  .rememberDataWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
}
